<nav class="navbar navbar-expand-lg bg-light" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="form-group"  *ngIf="isLoggedIn()">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
      </div>
      <span class="search-icon"  *ngIf="isLoggedIn()">
          <button mat-icon-button  >
        <mat-icon>search</mat-icon>
      </button>
      </span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <span class="pe-3"(click)="getCartByUserid()">
       <button *ngIf="isLoggedIn()"  routerLink="cart" class="btn " >
            <i style="font-size: 30px;" class="fas fa-shopping-cart"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
      </span>
      <button  *ngIf="!isLoggedIn()" type="button" class="btn btn-outline-success"  routerLink="/login">Login</button>
<!--        <button *ngIf="isLoggedIn()"  type="button" class="btn btn-outline-danger" routerLink="/logout" (click)="logout()">Logout</button>-->
      <div>
        <button *ngIf="isLoggedIn()" class="btn" (click)="toggleMenu()">
          <i   style="font-size: 30px;" class="fa fa-user"></i>
        </button>
        <div class="sub-menu-wrap" *ngIf="showMe">
          <div class="sub-menu">
            <div class="user-info">
              <i  style="margin-bottom:13px;width: 30px;border-radius:50%;font-size: 20px " class="fa fa-user"></i>
              <h2>Hello {{loggedInUserName}}</h2>
            </div>
            <hr>
            <a class="sub-menu-link" (click)="updateProfile()">
              <img  src="assets/images/profile.png">
              <p> Edit Profile </p>
              <span>></span>
            </a>
            <a class="sub-menu-link">
              <img src="assets/images/setting.png">
              <p> Settings & Privacy </p>
              <span>></span>
            </a>
            <a routerLink="/buyProduct"  class="sub-menu-link">
              <img src="assets/images/orders.png">
              <p> Previous Orders </p>
              <span>></span>
            </a>
            <a  (click)="logout()" class="sub-menu-link">
              <img src="assets/images/logout.png">
              <p> LogOut </p>
              <span>></span>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg bg-light" *ngIf="isLoggedIn()">
  <div class="container-fluid">
    <div>
      <button  class="btn btn-outline-primary" routerLink="/" style="margin-right: 3px">Home</button>
      <button class="btn btn-outline-primary" routerLink="/addNewProduct" style="margin-right: 3px" *ngIf="isAdmin()">Add New Product</button>
      <button class="btn btn-outline-primary" routerLink="/showProductDetails" *ngIf="isAdmin()">Show Product Details</button>
    </div>
  </div>
</nav>
